html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #fafafa;
}

.container .credit {
    margin: 20px 0;
}

.right {
    float: right;
    margin-top: -83px;
}

.error {
    color: #f04124;
}
